.header {
  background-color: #faf5ec;
  padding: 20px;
}

.header a {
  float: left;
  color: #eebe2f;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  line-height:25px;
}

.header a:hover {color: #edb91d;}

body {
  background-color: #faf5ec;
  font-size: 20px;
}

h1 {
  color: #be3439;
  font-family: sans-serif;
  font-size: 100px;
}

h2 {
  color: #eebe2f;
  font-family: sans-serif;
  font-size: 100px;
}

p {
  color: #be3439;
  font-family: "Times New Roman", times, serif;
  font-size: 20px;
}

.dropbtn {
  background-color: #faf5ec;
  color: #eebe2f;
  padding: 20px;
  font-size: 20px;
  font-family: "Times New Roman", times, serif;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #faf5ec;
  min-width: 150px;
  z-index: 1;
}

.dropdown-content a {
  color: #faf5ec;
  padding: 20px;
  text-decoration: none;
  font-family: "Times New Roman", times, serif;
  display: block;
}

.dropdown-content a:hover {background-color: #f6eedf;}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color: #faf5ec;}
