.navbar {
  background-color: #faf5ec;
  padding: 20px;
  padding-right: 100px;
}

.navbar a {
  float: left;
  text-align: center;
  color: #eebe2f;
  padding: 20px;
  padding-right:100px;
  font-size: 20px;
  text-decoration: none;
}

body {
  background-color: #faf5ec;
  font-size: 20px;
}

h1 {
  color: #be3439;
  font-family: sans-serif;
  font-size: 100px;
}

h2 {
  color: #eebe2f;
  font-family: sans-serif;
  font-size: 100px;
}

p {
  color: #be3439;
  font-family: "Times New Roman", times, serif;
  font-size: 20px;
}

.dropbtn {
  background-color: #faf5ec;
  color: #eebe2f;
  padding: 20px;
  font-size: 20px;
  font-family: "Times New Roman", times, serif;
  text-decoration: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #faf5ec;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: #eebe2f;
  padding: 20px;
  text-decoration: none;
  font-family: "Times New Roman", times, serif;
  display: block;
}
.navbar a:hover, .dropdown-content:hover .dropbtn{
  background-color: #f6eedf;
}

.dropdown:hover .dropdown-content {display:block;}
