header {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 10px;
}

li {
  font-family: Helvetica, sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  padding: 40px;
}

main {
  color: #6cadf9;
}

h1 {
  text-align: center;
  color: #ff4850;
  /*missing: font type, size*/
}

a:link, a:visited {
  background-color: #ff4850;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #de5057;
  text-decoration: none;
}
